[org/gnome/desktop/lockdown]
disable-log-out=true
disable-lock-screen=true
disable-user-switching=true
disable-command-line=true
user-administration-disabled=true

[org/gnome/desktop/notifications]
show-banners=false

[org/gnome/desktop/interface]
enable-hot-corners=false

[org/gnome/mutter]
overlay-key=''
center-new-windows=false

[org/gnome/shell]
enabled-extensions=['{{ extension_uuid }}']
disable-user-extensions=false
